body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 40px auto;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input, select, button {
    padding: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.task-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.task-item.completed .task-text {
    text-decoration: line-through;
    opacity: 0.6;
}

/* overlay */

#overlay-root {
    position: fixed;
    inset: 0;   /* top, left, rith, bottom = 0 */
    pointer-events: none;   /* overlay does not block clicks by the user */
    z-index: 9999;
}

/* celebration */
 
.hidden {
    display: none;  /* the element not rendered at all */
    /* opacity: 0;*/  /* even if i dont see it, it is rendered every single time */
    /* pointer-events: none; */
}

@keyframes slideDown {
    from {
        transform: translate(-50%, -40px);
        opacity: 0;
    }
    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

.show-banner {
    animation: slideDown 1.0s ease;
}

#celebration-banner {
    position: fixed;  /* fixed to the screen, not tothe layout*/
    top: 20px;   
    left: 50%;    /* moves the banner's left side to the middle of the screen */
    transform: translate(-50%, 0);  /* it moves the banner left by half of its own width. */
    background: gold;
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 8px;
    /* z-index: 1000;    appears above everything */
    /* animation: slideDown 1.0s ease; */
    /* animation-fill-mode: forwards; */
}

/* #meme-overlay {
    position: fixed;
    top: 80px;
    bottom: 10px;
    transform: translate(50%, 0) scale(0.6);
    width: 700px;
    opacity: 0;
    /* z-index: 9998; */
    /* pointer-events: none; 
} */

/* @keyframes memeFade {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    15% {
        opacity: 1;
        transform: scale(1);
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
} */

/* @keyframes memeFade {
    0% {
        opacity: 0;
        transform: translate(40%, 0) scale(0.6);
    }

    20% {
        opacity: 0.75;
        transform: translate(40%, 0) scale(0.8);
    }

    50% {
        opacity: 0.85;
        transform: translate(40%, 0) scale(1);
    }

    70% {
        opacity: 1;
        transform: translate(40%, 0) scale(1.2);
    }

    80% {
        opacity: 1;
        transform: translate(40%, 0) scale(0.85);
    }

    90% {
        opacity: 0.5;
        transform: translate(40%, 0) scale(0.65);
    }

    100% {
        opacity: 0;
        transform: translate(50%, 0) scale(0.45);
    }
} */


/* .show-meme {
    animation: memeFade 3s cubic-bezier(0.22, 1, 0.36, 1) forwards;
} */

#meme-overlay {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0.65);

    width: 650px;
    opacity: 0;
    filter: blur(4px);

    z-index: 9998;
    pointer-events: none;
    box-shadow: 0 25px 80px rgba(0,0,0,0.35);
    border-radius: 10px;
}

@keyframes memeFloat {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.65);
        filter: blur(4px);
    }

    30% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.95);
        filter: blur(1px);
    }

    60% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.05);
        filter: blur(0px);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.2);
        filter: blur(5px);
    }
}

/* Apply animation */
.show-meme {
    animation: memeFloat 4.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* toggle switch */

.settings-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

/* switch container */
.switch {
    position: relative; /*because the slider inside uses position:absolute */
    display: inline-block;
    width: 50px;
    height: 26px;
}

/* hide default checkbox */
.switch input {
    opacity: 0; /* gets hidden, but still functional */
    width: 0;
    height: 0;
}

/* slider background */
.slider {
    position: absolute;
    cursor: pointer; /* its clickable */
    inset: 0;   /* fills entire switch container*/
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.3s;
}

/* slider circle */
.slider::before {   /* Create a virtual element before the content inside .slider, i cant see it in html but css can style it somehow */
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

/* checked state */
input:checked + .slider {   /* State selector + sibling selector, like select checkbox when it s ON + select next sibling element (only the one next to it)*/
    background-color: #4CAF50;
}

input:checked + .slider::before {   /* when checkbox is checked, select the slider, then select the slider’s fake circle, move it*/
    transform: translateX(24px);
}

.toggle-label {
    font-size: 14px;
}



#add-board-btn {
    min-width: 280px;
    border: 2px dashed #ccc;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: 0.2s;
}

#add-board-btn:hover {
    background: #f9f9f9;
}

/* #boards-wrapper {
    overflow-x: auto;
    display: flex;
    padding: 20px;
} */

#board-container {
    display: flex;
    gap: 20px;
}

/* Board container (horizontal scroll layout) */
#board-container {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    gap: 20px;
    scroll-behavior: smooth;
}

/* Each board */
.board {
    min-width: 280px;
    background: #f4f4f4;
    border-radius: 12px;
    padding: 15px;
    flex-shrink: 0;

    display: flex;
    flex-direction: board;
    gap: 12px;
}

/* board title */
.board-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.board h3 {
    margin-top: 0;
}

/* Task card */

#add-card-btn{
    min-width: 80px;
    border: 2px dashed #ccc;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: 0.2s;
}

#add-card-btn:hover {
    background: #f9f9f9;
}

/* .task-card {
    background: white;
    border-radius: 10px;
    padding: 10px 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
} */

/* Hover effect */
/* .task-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
} */

/* Completed state */
/* .task-card.completed {
    opacity: 0.6;
    text-decoration: line-through;
} */

/* Text container */
/* .task-info {
    flex-grow: 1;
} */

/* Delete button */
/* .delete-btn {
    background: transparent;
    border: none;
    color: crimson;
    font-weight: bold;
    cursor: pointer;
} */


