
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Task Dashboard</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styleAnalytics.css') }}">
</head>
<body>
    <button onclick="window.location.href='/'">
        ← Back to Tasks
    </button>
    <!-- analytics -->
    <div id="analytics">
        <h3>Tasks per Category</h3>
        <canvas id="categoryChart"></canvas>

        <h3>Completed vs Active</h3>
        <canvas id="statusChart"></canvas>
    </div>

    <!-- <script src="script.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script type="module" src="script.js"></script> -->
    <script type="module" src="{{ url_for('static', filename='analytics.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
</body>
</html>