<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boards view</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleTasks.css') }}">
</head>
<body>

    <!-- top nav -->
    <header class="topbar">
        <h1>Smart Task Dashboard</h1>

        <div class="topbar-controls">
            <div class="settings-row">
                <label class="switch">
                    <input type="checkbox" id="celebration-toggle" checked>
                    <span class="slider"></span>
                </label>
                <span class="toggle-label">Celebrations</span>
            </div>

            <a href="/analytics" class="header-nav-btn">
                📊 Analytics →
            </a>

        </div>
    </header>

    <!-- boards container -->
    <main id="boards-wrapper">

        <div id="board-container">
            <!-- boards injected dynamically -->
            <!-- board card vutton injected dynamically always last -->
        </div>

    </main>

    <div id="overlay-root">
        <!-- celebration -->
        <div id="celebration-banner" class="hidden">
        🎉 TASK COMPLETED! YOU ABSOLUTE MACHINE 🔥
        </div>
        
        <!-- meme -->
        <img id="meme-overlay"
            class="hidden"
            src="{{ url_for('static', filename='pictures/dicaprio.png') }}" />
    </div>

    <div id="soft-confirm-overlay" class="hidden">
        <div class="soft-confirm">
            <h3 id="soft-confirm-title"></h3>
            <p id="soft-confirm-message"></p>

            <div class="soft-confirm-actions">
                <button id="soft-confirm-cancel">Cancel</button>
                <button id="soft-confirm-ok" class="danger">Delete</button>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{{ url_for('static', filename='tasks.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
</body>
</html>
 
